<% form_for @user do |f| %>
  <p>
    <%= f.label :username,"Ψευδώνυμο" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password,"Κωδικός" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Επιβεβαίωση Κωδικού" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Αποθήκευση Λογαριασμού" %></p>
<% end %>